
<div class="hero about">
    <div class="container hero-container">
        <div class="row">
            <div class="col-12 mx-auto text-center">

        <!--themify_builder_content-->
<div id="themify_builder_content-61" data-postid="61" class="themify_builder_content themify_builder_content-61 themify_builder tf_clear">
                    <div  data-lazy="1" class="module_row themify_builder_row tb_u1kg332 tb_first tf_w">
                        <div class="row_inner col_align_top tb_col_count_1 tf_box tf_rel">
                        <div  data-lazy="1" class="module_column tb-column col-full tb_6zjp333 first">
                    <!-- module text -->
<div  class="module module-text tb_bcrk912   " data-lazy="1">
        <div  class="tb_text_wrap">
        <h1 style="text-align: left;"><b>Our Story</b></h1>    </div>
</div>
<!-- /module text --><!-- module text -->
<div  class="module module-text tb_62db970   " data-lazy="1">
        <div  class="tb_text_wrap">
        <h3 style="text-align: left;"><span style="font-weight: bolder;">In the beginning..</span></h3>
<p style="font-size: 19.2px; font-weight: 400; text-align: left;">Apex Branding &amp; Design started in January of 2014 under the name Cedar Rapids Web Design.</p>
<p style="font-size: 19.2px; font-weight: 400; text-align: left;">Founder James was brand new to business ownership and had no idea what he was doing (some would argue he still has no idea what he&#8217;s doing).</p>
<p style="font-size: 19.2px; font-weight: 400; text-align: left;">James spent the next several years fumbling his way through marketing, sales and client management, gaining valuable experience along the way.</p>
<p style="font-size: 19.2px; font-weight: 400; text-align: left;">Eventually James realized he needed to make some changes. First, a rebrand was in order. Cedar Rapids Web Design worked well for local SEO purposes, but implied that he only did website design, and he only did it in his home town of Cedar Rapids.</p>    </div>
</div>
<!-- /module text --><!-- module text -->
<div  class="module module-text tb_4fhj689   " data-lazy="1">
        <div  class="tb_text_wrap">
        <h3 style="text-align: left;"><span style="font-weight: bolder;">Today</span></h3>
<p style="font-size: 19.2px; -webkit-text-stroke-width: 0px;">Fast forward to today (Jan 2022 as I write this) and the business has changed quite a bit. Apex Branding &amp; Design is a full service branding and design agency, made up of a team of professionals who have each mastered their particular craft.<br><br>Apex is much more than a web design company, and we&#8217;ve expanded beyond our hometown. </p>    </div>
</div>
<!-- /module text --><!-- module text -->
<div  class="module module-text tb_zve0352   " data-lazy="1">
        <div  class="tb_text_wrap">
        <h3 style="text-align: left;"><span style="font-weight: bolder;">Tomorrow</span></h3>
<p style="font-size: 19.2px; -webkit-text-stroke-width: 0px;">As we look towards the future, we&#8217;re excited to see what new and exciting branding adventures await. </p>    </div>
</div>
<!-- /module text -->        </div>
                        </div>
        </div>
        </div>
<!--/themify_builder_content-->                
            </div>
        </div>
    </div>
</div>
<div class="section no-gutter about-flare"></div>

<div class="section">
    <div class="container">
        <h1 class="text-center">The Team</h1>
        <div class="row">


            
            
                
                    <div class="col-12 col-md-6 mb-6 mb-lg-0 d-flex flex-column align-items-center"><picture class="img-fluid founder-image">
<source type="image/webp" srcset="/uploads/2021/04/james-welbes_brand-developer.jpg.webp"/>
<img src="/uploads/2021/04/james-welbes_brand-developer.jpg"/>
</picture>


                        <h3 class="team-header">James Welbes</h1>
                        <h5 class="team-header subheader"> Owner/Strategist</h5>
                    </div>
                                            










        </div>
    </div>
</div>


