





    <div class="section container">


<div class="portfolio-card-container">

    <div class="portfolio-glimpse-bar">
        <span class="portfolio-information">2020</span><span class="portfolio-information">Full Rebrand</span>
        <span class="portfolio-information">#01</span>
    </div><!-- portfolio-glimpse-bar -->
    <div class="card portfolio-card">
        <div class="card-body">
            <h1 class="mt-auto mt-lg-0">The Space Coworking</a></h1>            
            <div class="btn-container mb-3 mb-md-0"><a class="btn btn-primary" role="button" href="/works/the-space-coworking">View Project</a></div>
        </div><!-- card-body -->
        <picture class="card-img-bottom w-100 d-block card-portfolio-image">
<source type="image/webp" srcset="/uploads/2021/03/the-space-hero.png.webp"/>
<img src="/uploads/2021/03/the-space-hero.png"/>
</picture>


    </div><!-- card portfolio-card -->

</div><!-- portfolio-card-container -->


<div class="portfolio-card-container">

    <div class="portfolio-glimpse-bar">
        <span class="portfolio-information">2021</span><span class="portfolio-information">Full Rebrand</span>
        <span class="portfolio-information">#01</span>
    </div><!-- portfolio-glimpse-bar -->
    <div class="card portfolio-card">
        <div class="card-body">
            <h1 class="mt-auto mt-lg-0">Cedar Rhapsody School of Music</a></h1>            
            <div class="btn-container mb-3 mb-md-0"><a class="btn btn-primary" role="button" href="/works/cedar-rhapsody">View Project</a></div>
        </div><!-- card-body -->
        <picture class="card-img-bottom w-100 d-block card-portfolio-image">
<source type="image/webp" srcset="/uploads/2021/03/cedar-rhapsody.png.webp"/>
<img src="/uploads/2021/03/cedar-rhapsody.png"/>
</picture>


    </div><!-- card portfolio-card -->

</div><!-- portfolio-card-container -->

</div><!-- section container -->





