

<div class="hero home"><img class="hero-image" src="/img/Apex-outline.svg">
        <div class="container hero-container">
            <div class="row">
                <div class="col-md-6 col-sm-12 d-flex flex-column justify-content-center">
                    <h1 class="hero-header">We help businesses elevate their brand through the power of strategy, design and creativity</h1>
					 <div class="hero-tagline">
                        <p class="mb-3">Has your product or service outgrown your brand?</p> 
                        <p class="mb-3">It's ok, it happens! Luckily, we know how to fix it!</p>
                        <p>Check out Angie's rebrand story <i class="fas fa-arrow-right shake-horizontal ms-3"></i> <i class="fas fa-arrow-down shake-vertical ms-3"></i></p>
                     </div>              
                </div>

					 <div class="col-md-6 flex-column slide-in-left" id="home-case-study">
<!--   					<iframe id="angie-video" class="angie-video" type="text/html" width="640" height="360" src="https://www.youtube-nocookie.com/embed/H5-HaRzq4Wc?modestbranding=1" frameborder="0"></iframe>   -->
							
		 
<iframe class="angie-video" width="100%" height="360" src="https://www.youtube-nocookie.com/embed/H5-HaRzq4Wc?modestbranding=1" frameborder="0" allowfullscreen style="aspect-ratio:16/9"></iframe>
										</div>
            </div>
        </div>
    </div>
    
    <div class="section">
        <div class="container">
            <h1 class="text-center">Recent Work</h1>
        </div>
    </div>
    <div class="section no-gutter">
        <div class="container-fluid">
            <div class="row g-0">

                                                            
                        <div class="col-12 col-lg-4 client-container"><picture class="client-background-image">
<source type="image/webp" srcset="/uploads/2025/01/letsgopartybus.jpg.webp"/>
<img src="/uploads/2025/01/letsgopartybus.jpg"/>
</picture>

                            <div class="client-background-image-overlay"></div>
							
                                                            
                            
                            <img class="img-fluid client-logo" src="/uploads/2025/01/letsgopartybus.webp"> 
                            
                        </div>
                    
                        <div class="col-12 col-lg-4 client-container"><picture class="client-background-image">
<source type="image/webp" srcset="/uploads/2021/03/the-space-thumbnail.png.webp"/>
<img src="/uploads/2021/03/the-space-thumbnail.png"/>
</picture>

                            <div class="client-background-image-overlay"></div>
							
                                                                <a target="_blank" href="https://cedarrapidscoworking.space" >
                                                            
                            
                            <picture class="img-fluid client-logo">
<source type="image/webp" srcset="/uploads/2021/03/the-space-logo.png.webp"/>
<img src="/uploads/2021/03/the-space-logo.png"/>
</picture>
 
                                                            </a>
                                
                        </div>
                    
                        <div class="col-12 col-lg-4 client-container"><picture class="client-background-image">
<source type="image/webp" srcset="/uploads/2021/03/cedar-rhapsody.png.webp"/>
<img src="/uploads/2021/03/cedar-rhapsody.png"/>
</picture>

                            <div class="client-background-image-overlay"></div>
							
                                                                <a target="_blank" href="https://cedarrhapsody.com" >
                                                            
                            
                            <img class="img-fluid client-logo" src="/uploads/2021/03/cedar-rhapsody-logo-white-1-e1632455777777.png"> 
                                                            </a>
                                
                        </div>
                                                            

               
                </div>
        </div>
    </div>
    <div class="section">
        <div class="container text-center"><a class="btn btn-primary" role="button" href="/works">Case Studies</a></div>
    </div>
    <!-- <div class="section">
        <div class="container">
            <h1 class="text-center">The Team</h1>
        </div>
    </div>
    <div class="section team no-gutter">
        <div class="container">
           
            <div class="row">
            
                        
                        
                        <div class="col-12 col-md-6 mb-6 mb-lg-0 d-flex flex-column align-items-center"><img class="img-fluid founder-image" src="/uploads/2021/04/james-welbes_brand-developer.jpg">

                            <h3 class="team-header">James Welbes</h1>
                            <h5 class="team-header subheader">  Owner/Strategist</h5>
                        </div>
                                                                                    </div>
        </div>
    </div> -->



