
<div class="section blog-single">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
<article  id="post-229" class="post-229 post type-post status-publish format-standard has-post-thumbnail hentry category-branding">
	<header class="entry-header">
		<h1 class="entry-title text-center">The Evolution of Brand</h1>			<div class="entry-meta text-center">
				<span class="posted-on">Posted on <a href="/the-evolution-of-brand/" rel="bookmark"><time class="entry-date published" datetime="2021-11-24T01:07:17-06:00">November 24, 2021</time><time class="updated" datetime="2025-02-26T17:43:46-06:00">February 26, 2025</time></a></span><span class="byline"> by <span class="author vcard">James Welbes</span></span>			</div><!-- .entry-meta -->
			</header><!-- .entry-header -->

	
			<div class="post-thumbnail">
				<picture class="attachment-post-thumbnail size-post-thumbnail wp-post-image" decoding="async" fetchpriority="high">
<source type="image/webp" srcset="/uploads/2021/11/evolution-of-brand.jpg.webp 1080w, /uploads/2021/11/evolution-of-brand-300x200.jpg.webp 300w, /uploads/2021/11/evolution-of-brand-1024x683.jpg.webp 1024w, /uploads/2021/11/evolution-of-brand-768x512.jpg.webp 768w" sizes="(max-width: 1080px) 100vw, 1080px"/>
<img data-no-lazy="" width="1080" height="720" src="/uploads/2021/11/evolution-of-brand.jpg" alt="" decoding="async" fetchpriority="high" srcset="/uploads/2021/11/evolution-of-brand.jpg 1080w, /uploads/2021/11/evolution-of-brand-300x200.jpg 300w, /uploads/2021/11/evolution-of-brand-1024x683.jpg 1024w, /uploads/2021/11/evolution-of-brand-768x512.jpg 768w" sizes="(max-width: 1080px) 100vw, 1080px"/>
</picture>
			</div><!-- .post-thumbnail -->

		 

	<div class="entry-content"> 
		Branding can make or break a company. The most successful companies put significant energy and resources into their brand strategy, while the companies struggling to remain profitable often failed to give their brand the attention it deserves. Many companies don&#8217;t fully understand the importance and power of branding. This article will attempt to explain what branding really is, and why it&#8217;s important.
<h3>What is Branding?</h3>
Like many words, &#8220;Brand&#8221; has assumed several different meanings over the years.

In the beginning, it referred to the process of permanently marking livestock as a means of keeping track of them. Livestock would often end up mingling in the same area with other livestock and farmers would need to know which ones belonged to them. So they would come up with a unique brand that would cause other farmers to instantly know who that particular animal belonged to. It was that farmer&#8217;s brand. It had to be unique and recognizable. Some things haven&#8217;t changed.

Given this definition, it&#8217;s no surprise that the marketing world adopted the word to refer to logo marks. For many years when people heard the word &#8220;brand&#8221; they thought &#8220;logo&#8221;. In fact, it&#8217;s still like that for many people today.

But the most successful companies figured out that a brand is so much more than a logo. A logo is one small part of your brand. It&#8217;s a visual representation of your brand. Logos are important, for sure. But they&#8217;re not the whole story.

Google has two definitions of &#8220;Branding&#8221;:
<ol>
 	<li>The action of marking with a branding iron. &#8220;regulations concerning the branding, movement, and sale of cattle&#8221;</li>
 	<li>The promotion of a particular product or company by means of advertising and distinctive design. &#8220;the process of branding should be considered in global terms&#8221;</li>
</ol>
These are the two definitions I&#8217;ve already talked about. Branding cattle, and logo marks.

I&#8217;m here to talk about a third definition. This definition comes from branding expert Marty Neumeier. If you haven&#8217;t&#8217; heard of Mr. Neumeier and you&#8217;re interested in learning more about branding, I highly recommend picking up his books <strong>The Brand Gap</strong>, and <strong>Zag</strong>. They&#8217;re both quick reads, written to be consumed on a plane trip, as Marty puts it.

Marty&#8217;s definition of brand is this: &#8220;a person&#8217;s gut feeling about a product, service or company&#8221;.

Notice this definition isn&#8217;t a tangible thing. It&#8217;s not a logo, it&#8217;s not a website, it&#8217;s not a marketing campaign, it&#8217;s not a deliverable. It&#8217;s a <em>feeling</em>. Your brand is not something you can control. You can&#8217;t control people&#8217;s feelings, but you <em>can </em><strong>influence</strong> them. The most successful companies put considerable effort into influencing people&#8217;s gut feelings about them.

Consider the following companies:
<ul>
 	<li>Apple</li>
 	<li>Nike</li>
 	<li>Ford Trucks</li>
</ul>
Each of these companies have powerful brands. You felt a certain way when you read each one of them.

There&#8217;s an old saying, &#8220;Your vibe attracts your tribe&#8221;. Each of these companies has a tribe and they have worked very hard to attract this tribe. Apple&#8217;s tribe is creatives. If you fancy yourself a creative, you <em>have </em>to buy an Apple computer. Nike&#8217;s tribe is athletes. If you&#8217;re an athlete that wants to make it to the big leagues, you <em>have </em>to wear Nike. Ford Trucks tribe are hardworking Americans. If you love America, want to get real work done and haul lots of big things, you <em>have </em>to get a Ford Truck.
<blockquote>Side node. Notice I said &#8220;Ford Trucks&#8221; and not just &#8220;Ford&#8221;. Ford actually has several brands within their overall brand. Their pickup tribe is different from their Mustang tribe, is different from their Taurus tribe. This can be tricky to pull off but very effective if done well.</blockquote>
<h3>What&#8217;s the difference between Branding and Marketing?</h3>
I like to tell people there are two ways to make money in business: You can push your products on people, or you can draw people to your products. This is the difference between marketing, and branding

Now if you&#8217;re a marketing director please hear me out before sending me your hate mail. I realize what I just said doesn&#8217;t paint marketing in the best light. But keep in mind I&#8217;m talking about <strong>traditional</strong> marketing.

When most people think of marketing, they think of billboards on the highway, 30 second ads interrupting their Hulu binge watching, and ads on Facebook. 99% of the time the goal of these ads is to say &#8220;Hey look at our product! You NEED THIS! BUY NOW!!&#8221;.

It&#8217;s true that there is some tension between Marketing professionals and Branding strategists, like myself. But there doesn&#8217;t have to be. The truth is successful companies use both branding and marketing effectively. Your marketing should support your branding. Everything you do should support your branding, from sales, marketing, HR, customer service and so on. Every decision you make should be made through the lens of your brand. Always ask yourself &#8220;is this &#8216;on brand?'&#8221;. If the answer is no, you need to rethink that decision.

Marketing is no exception. Marketing doesn&#8217;t always have to be &#8220;salesy&#8221;. Gary Vaynerchuk has a strategy for your marketing called &#8220;jab jab jab right hook&#8221;. Too often marketing efforts go straight for the right hook every time. And quite frankly, we as consumers are sick of it. Most of us have gotten to the point where we don&#8217;t even see posts on Facebook, LinkedIn etc that have the little &#8220;sponsored&#8221; tag. I have trained myself to scroll right on past them. Why? Because people by and large do not enjoy being sold to. When we get on social media we want to consume something. Something insightful, something inspiring, something funny, something educational. We don&#8217;t get on Facebook expecting to purchase something.
<h3>Why is Branding Important?</h3>
So why is branding so important? Can&#8217;t I just keep focusing on my marketing strategy? It seems to be working so far.

The short answer is this: marketing is the short game, while branding is the long game. Don&#8217;t believe me? Stop marketing for a month and tell me what happens. My guess is your sales would plummet. Marketing typically has this strategy: create ad, make sales. Considerable effort is put into tracking ads and determining an ROI for each campaign. We spent $X on this ad and we made $Y. If you don&#8217;t spend $X, you don&#8217;t make $Y. This is why I&#8217;m not silly enough to dismiss marketing. Marketing is important, but the most effective marketing campaigns are built on a strong brand. Great marketing supports the brand. Remember you&#8217;re not the only one marketing in your industry. For every ad of yours a target customer sees, they probably saw 3 or 4 other ads for similar products, especially if they&#8217;re actively searching for your product. Branding helps you stand out and speak directly to your ideal customers.

Brand also creates loyalty. Recurring revenue is the best kind of revenue. The best kind of product, in my opinion, are consumables. Things that customers need to continue buying. Things like candles, coffee, cigars etc. If your product is a consumable, loyalty is important. People selling consumables have two customers types: brand new customers, and returning customers. Marketing is great for getting new customers, an effective brand will help you turn those new customers into returning customers. Having a good product is very important, but the truth is, your brand is probably equally as important. It&#8217;s no secret that many people make up their minds about a particular product or company before actually trying the product.

Maybe you sell coffee. There are people with a taste palette capable of telling the difference between good coffee, and bad coffee. If you&#8217;re trying to sell your coffee at a premium price, you need to make sure your coffee is high quality. But there are people out there who can&#8217;t tell the difference, but they still want coffee. Some people are attracted to organic products, conflict free products etc. Many people make their coffee purchasing decisions based on everything BUT the flavor.

Apple is a great example of a strong brand. Every time they release a new iPhone there are lines a mile long waiting out side the stores. Most of those people probably haven&#8217;t looked up the specs or new features of the phone. They just know there&#8217;s a new iPhone out and they gotta have it.

Tesla is an interesting brand. Who is Tesla&#8217;s target market? Environmentally conscious people? Maybe a little bit. But Tesla&#8217;s are very expensive and there are plenty of other affordable electric cars out there. Teslas are more of a status symbol than a statement about the environment.

When Tesla debuted their new pickup truck, it was ugly as hell, and failed the live bullet proof glass test during the launch. They still received a quarter of a million pre-orders within a week of launching, and even tho Tesla stopped releasing the pre-order numbers, sources say the total tally ended up closer to half a million. Pre-order reservation cost $100 which means Tesla made around $50,000,000 just on pre-order reservations, without having sold a single truck yet.

That&#8217;s loyalty. That took more than just marketing. That takes a strong brand.

	</div><!-- .entry-content -->

	
</article>
            </div>
        </div>
    </div>
</div>
