<main id="primary" class="site-main">
<div class="container">
<article class="podcasts type-podcasts status-publish hentry">
	<header class="entry-header">
		<h1 class="entry-title text-center">[Ep. 6] An Interview with Eric Engelmann</h1>	</header>
	<div class="entry-content">
		<p><iframe src="https://open.spotify.com/embed/episode/7kw0krrV1UX9HGjandYIgG?utm_source=generator" width="100%" height="232" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe></p>
	</div>
</article>
</div>
</main>