



<div class="hero work-single"><picture>
<source type="image/webp" srcset="/uploads/2021/03/the-space-thumbnail.png.webp"/>
<img src="/uploads/2021/03/the-space-thumbnail.png"/>
</picture>

    <div class="container hero-container">
        <div class="row">
            <div class="mx-auto">
                <h1 class="hero-header text-center my-5">The Space Coworking</h1>
                <p>The Space is a coworking space and community for Cedar Rapids Iowa creatives. With a wonderful mix of artists, freelancers and entrepreneurs, The Space offers something you won&#8217;t find at other coworking spaces: community.</p>
            </div>
        </div>
    </div>
    <div class="hero-overlay"></div>
</div>
<div class="section stats">
    <div class="container">
        <h6 class="stats">#1</h6>
        <h6 class="stats">Full Rebrand</h6>
        <h6 class="stats">2020</h6>
    </div>
</div>
<div class="section">
    <div class="container">
        
<h3 class="wp-block-heading">Strategy</h3>



<p class="wp-block-paragraph">The strategy for this was very natural. James, owner of Apex Branding &amp; Design was also the owner of The Space co-working. James originally took over the space from a friend who founded the space, and had originally called it Yoimono.</p>



<p class="wp-block-paragraph">With new ownership came a new name and a new brand. Designer Devin was a member at the space and when brainstorming a new name for it, he casually mentioned &#8220;you know, we always just call it &#8220;the space&#8221;, what if that was its name?&#8221;</p>



<p class="wp-block-paragraph">James loved it, and so it became official. Within a day Devin had a logo and a week later, we had a website.</p>



<p class="wp-block-paragraph"><strong>Old logo:</strong></p>



<figure class="wp-block-image size-full"><picture decoding="async" class="wp-image-2202">
<source type="image/webp" srcset="/uploads/2021/03/yoimonologo.png.webp 403w, /uploads/2021/03/yoimonologo-300x57.png.webp 300w" sizes="(max-width: 403px) 100vw, 403px"/>
<img decoding="async" width="403" height="77" src="/uploads/2021/03/yoimonologo.png" alt="" srcset="/uploads/2021/03/yoimonologo.png 403w, /uploads/2021/03/yoimonologo-300x57.png 300w" sizes="(max-width: 403px) 100vw, 403px"/>
</picture>
</figure>



<p class="wp-block-paragraph"><strong>New logo:</strong></p>



<figure class="wp-block-image size-large is-resized"><picture fetchpriority="high" decoding="async" class="wp-image-2199" style="width:641px;height:auto">
<source type="image/webp" srcset="/uploads/2021/03/thespacelogo-1024x131.png.webp 1024w, /uploads/2021/03/thespacelogo-300x38.png.webp 300w, /uploads/2021/03/thespacelogo-768x98.png.webp 768w, /uploads/2021/03/thespacelogo-1536x197.png.webp 1536w, /uploads/2021/03/thespacelogo-2048x263.png.webp 2048w" sizes="(max-width: 1024px) 100vw, 1024px"/>
<img fetchpriority="high" decoding="async" width="1024" height="131" src="/uploads/2021/03/thespacelogo-1024x131.png" alt="" srcset="/uploads/2021/03/thespacelogo-1024x131.png 1024w, /uploads/2021/03/thespacelogo-300x38.png 300w, /uploads/2021/03/thespacelogo-768x98.png 768w, /uploads/2021/03/thespacelogo-1536x197.png 1536w, /uploads/2021/03/thespacelogo-2048x263.png 2048w" sizes="(max-width: 1024px) 100vw, 1024px"/>
</picture>
</figure>


<!-- wp:themify-builder/canvas /-->    </div>
</div>
	<nav class="navigation post-navigation" aria-label="Posts">
		<h2 class="screen-reader-text">Post navigation</h2>
		<div class="nav-links"><div class="nav-previous"><a href="/works/cedar-rhapsody" rel="prev"><span class="nav-subtitle">Previous:</span> <span class="nav-title">Cedar Rhapsody School of Music</span></a></div><div class="nav-next"><a href="/works/lets-go-party-bus" rel="next"><span class="nav-subtitle">Next:</span> <span class="nav-title">Let&#8217;s Go! Party Bus</span></a></div></div>
	</nav>



